// SECTION advantages :: START

section#advantages.advantages
  .c-grid
    .advantages__wrapper

      .advantages__block-wrapper
        .advantages__block.advantages__block-0
          p.advantages__block-count.viewport-hide-js
            span(advantages-num-js data-count='100')!= "100"
            != "+"
          p.advantages__block-desc!= "Projects"

        .advantages__block.advantages__block-1
          p.advantages__block-count.viewport-hide-js
            span(advantages-num-js data-count='1000')!= "1000"
            != "+"
          p.advantages__block-desc!= "Scientists"

        .advantages__block.advantages__block-2
          p.advantages__block-count.viewport-hide-js
            span(advantages-num-js data-count='100000')!= "100000"
            != "+"
          p.advantages__block-desc!= "Freelance hours"


// SECTION advantages :: END