// SECTION :: START

section#main.main

  .main__bg
    .main__bg-left
    .main__bg-right
      img(src="./img/img-main-bg.png" srcset="./img/img-main-bg@2x.png 2x, ./img/img-main-bg@3x.png 3x" alt="" title="")

  .c-grid
    .main__wrapper
      .main__wrapper-left

        h1.main__title!= "WHERE DEEP <span>SCIENCE MEETS</span> <span>BUSINESS</span>"
        p.main__subtitle!= "Together, we help companies get <span>smarter about the future impact</span> <span>of emerging technologies</span>"

        div
          a.main__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "PRE-REGISTER"

          p.main__info!= "Applications open <span>12/02/2019</span>"

          p.main__from.main__from-0!= "Open to PhDs, postdocs, academics and alumni from:"
          p.main__from.main__from-1!= "University College London | Imperial College London | University of Cambridge"

      .main__wrapper-right

// SECTION :: END