// SECTION sign :: START

section#sign.sign.sign--plain

  .sign__bg
    .sign__bg-left
    .sign__bg-right

  .c-grid

    .sign__wrapper
      .sign__wrapper-left

        div
          h2.sign__title.c-title!= "<span class='c-title--color'>YOU’VE BEEN NOMINATED</span><br>BY JAMES GOOD"
          p.sign__heading!= "Be prepared, We’ll ask you for the following"

          .sign__box-wrapper
            .sign__box.sign__box-0
              div
                .sign__box-circle
                  span!= "1"
              div
                p!= "Your basic info and a bit about yourself"
            .sign__box.sign__box-1
              div
                .sign__box-circle
                  span!= "2"
              div
                p!= "A photo of your passport or ID"

          a.sign__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "LET’S GO"

          p.sign__info
            span
              != "Your location may determine whether you can participate in projects. For more <br>information please read our&nbsp;"
              i!= 'i'
            a(href="#" class="" title="")!= "Our international working policy"

      .sign__wrapper-right

        div
          h2.sign__title.c-title!= "WHERE DEEP SCIENCE<br>MEETS BUSINESS"
          p.sign__subtitle!= "Together, we help companies get smarter about the future impact of emerging technologies"
          p.sign__desc!= "We are an invite-only network of the brightest minds spanning science, technology and engineering."
          p.sign__desc!= "Altogether, we constitute 1000s of postgraduate researchers, academics and alumni. A community of talented young scientists from world leading universities sharing a common goal - to understand how the global landscape is being shaped by science-driven innovation"

// SECTION sign :: END