// SECTION calculate :: START

section#calculate.calculate
  .calculate__wrapper.calculate__wrapper-0
    .calculate__bg
      .calculate__bg-left
      .calculate__bg-right
        img(src="/img/img-calculate-0.png" srcset="/img/img-calculate-0@2x.png 2x, /img/img-calculate-0@3x.png 3x" alt="" title="")

    .c-grid

      .calculate__row
        .calculate__row-left
          h3.calculate__title!= "How are points calculated?"
          p.calculate__desc.calculate__desc--pb!= "For any activity other than paid client projects, the points that Associates earn are pre-determined. For example, if you fully complete your profile, you earn 150 points. For paid client projects, we use an algorithm to convert the fees you earn into points."
          p.calculate__desc!= "Your Associate points can also decrease when you do not participate in projects or engage with the platform for a long time. Hence, the more you participate, the higher your score will get."

        .calculate__row-right

  .calculate__wrapper.calculate__wrapper-1
    .c-grid

      .calculate__row
        .calculate__row-left
          img(src="/img/img-calculate-1.png" srcset="/img/img-calculate-1@2x.png 2x, /img/img-calculate-1@3x.png 3x" alt="" title="")

        .calculate__row-right
          h3.calculate__title!= "What is the purpose of points?"
          p.calculate__desc!= "The purpose of points is to give an indication of Associates’ participation and achievements on the platform. It is a way to encourage Associates to actively be involved in projects and community engagement, as well as rewarding Associates for their efforts."

  .calculate__wrapper.calculate__wrapper-2
    .c-grid

      .calculate__row
        .calculate__row-left
          h3.calculate__title!= "What does ranking mean?"
          p.calculate__desc.calculate__desc--pb!= "Associates with over 1000 points are featured on the leaderboard."
          p.calculate__desc!= "The Associate leaderboard displays the top-performing Associates based on the points that they have earned and is updated monthly. Your ranking is your relative position on the leaderboard. The more points you earn, the higher in the leaderboard you climb and the higher your ranking."

        .calculate__row-right
          img(src="/img/img-calculate-3.png" srcset="/img/img-calculate-3@2x.png 2x, /img/img-calculate-3@3x.png 3x" alt="" title="")

// SECTION calculate :: END